.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.box3 {
    grid-column-start: 2;
}

.dialogs .dialogsItem {
    padding: 10px;
}

.dialogs .messages {
    padding: 10px;
}

